# Config file .coveragerc

[run]
branch = True
source = pysiidte

[report]
include =
    */pysiidte/pysiidte/*

exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True


omit =
    */ctest/*
    */build/*
    */dist/*
    *__init__.py
