bs4==0.0.1
cchardet==2.1.4
cryptography==2.7
lxml>=4.2.1,<5
M2Crypto==0.29.0
pyOpenSSL>=17.5.0,<=19
signxml>=2.5.2
git+https://github.com/OCA/openupgradelib.git
git+https://github.com/bmya/signxml.git
suds-jurko==0.6
pdf417gen
pytz==2016.7
